*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Button  */

.center {
    width: 180px;
    height: 60px;
    position: absolute;
    margin-top: 100px;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #d591ff;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  .svgg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4900777f;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

.container-gallery
{
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container-gallery .heading-gallery
{
    width: 50%;
    padding-bottom: 50px;
}
.container-gallery .heading-gallery h3
{
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 10px;
    color: #ffffff;
}
.container-gallery .heading-gallery span
{
   font-weight: 100;

}

.container-gallery .box-gallery
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-gallery .box-gallery .dream
{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container-gallery .box-gallery .dream img
{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

/* responsive */
@media only screen and (max-width: 769px)
{
    .container-gallery .box-gallery
    {
        flex-direction: column;
    }

    .container-gallery .box-gallery .dream
    {
        width: 100%;
    }
}

@media only screen and (max-width: 643px)
{
    .container-gallery .heading-gallery
    {
        width: 100%;
    }
    .container-gallery .heading-gallery h3
    {
        font-size: 1.6em;
    }
}