.containerrr
{
    /* background-color: aqua !important; */
    height: 100vh;
    padding-top: 90px;
}

.Homee
{
    min-height: 100vh;
}

.pt-90
{
    padding-top: 120px;
}


.chatanonim
{
    min-height: 100vh;
    margin-left: 30px;
    margin-right: 30px;
}

.containerr
{
    /* background-color: aqua !important; */
    height: 100vh;
}

.text-putih
{
    font-size: 50px !important;
    color: #fff !important;
}

@media screen and (max-width:770px)
{
    .text-putih
    {
        font-size: 25px !important;
        color: #fff !important;
    }
}

